body{
    background-color: #4e1b32;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}

.center{
    margin: auto;
    width: 50%;
    border: 5px solid red;
    padding: 20px;
}

.center a {
    color: red;
}

.contenedor{
    width: 100%;
    height: 900px;
}

.contenedor1{
    width: 33,3%;
    height: 80%;
    float: left;
    background-color: #540452;
    color: rgb(240, 10, 10);
}
.contenedor2{
    width: 33,3%;
    height: 80%;
    float: left;
    background-color: #FFDF01;
    color: white;
}
.contenedor3{
    width: 33,3%;
    height: 80%;
    float: left;
    background-color: #ff0188;
    color: white;
}

.textoparrafo{
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

a{
    text-decoration: none;
}

.global {
    display:block;
    margin: auto;
}
.menu{
    width: 20%;
    float: left;
    margin-left: -15px;
}
.menu a{
    text-decoration: none;
    color: white;  
}

.menu a:hover{
    color: grey;
    font-weight: bold;
}

.menu li{
    list-style: none;
    border: 2px solid white;
    padding: 30px;
}

.cajas{
    width: 80%;
    height: 25%;
    float:right;
}
.cajas p{
    padding: 60px;
    margin: 1px;
    font-weight: bold;
    color: black;
}